body {
  background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url(./assets/body-bg.jpg);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contentcontainer {
  margin-top: 7% !important;
}
.NoteComponent:hover {
  box-shadow: 0px 0px 5px 2px #ffc10733;
}
.NoteComponentDescription {
  height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Number of lines to show */
  -webkit-box-orient: vertical;
}
.heroGifAndFormContainer > div {
  width: 30%;
}

.heroGifAndFormContainer > img {
  top: 24%;
  left: 47.4%;
}
.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active {
  background-color: #ffc105 !important;
  color: #000;
}

.btn-primary {
  background-color: #2ba5da !important;
}
.card:hover {
  box-shadow: 0px 0px 10px 2px #2ba5daaa;
}

.abnormalLabel {
  color: #ffc105;
}
.btn-warning {
  color: white;
}
.alert {  
  position: absolute;
  top: -10%;
  z-index: 11000;
  left: 50%;
  transform: translate(-50%, -50%);
}
.alert > .btn-close {
  transform: scale(0.6);
  margin-top: 2px;
}
